@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;600&display=swap");
body {
  font-family: "ヒラギノ明朝 ProN", serif;
  font-size: 16px;
  font-weight: 300;
  color: #333333;
  line-height: 1.6;
  background: #ffffff;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

@media screen and (min-width: 768px) {
  .hidden-pc {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hidden-sp {
    display: none;
  }
}

.section {
  padding-top: 160px;
}
@media screen and (max-width: 767px) {
  .section {
    padding-top: 96px;
  }
}

.section__title {
  font-size: 40px;
  font-weight: 600;
  position: relative;
  text-align: center;
  height: 56px;
  line-height: 1;
}
.section__title::after {
  content: "";
  background: #3ea1d1;
  width: 60px;
  height: 1px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.inner {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  height: inherit;
}
@media screen and (min-width: 768px) {
  .inner {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 767px) {
  .inner {
    padding-left: 15px;
    padding-right: 15px;
  }
}

body {
  padding-top: 70px;
}
@media screen and (max-width: 767px) {
  body {
    padding-top: 60px;
  }
}

.main_button {
  text-align: center;
}
.main_button a {
  border: 1px solid #3ea1d1;
  display: inline-block;
  padding: 16px 54px;
  font-size: 14px;
  color: #3ea1d1;
  background: #ffffff;
  line-height: 1;
  font-weight: 600;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.main_button a:hover {
  color: #ffffff;
  background: #3ea1d1;
}

.scaleup__img {
  overflow: hidden;
}
.scaleup__img img {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.scaleup__img img:hover {
  scale: 1.2;
}

.link-hover-opacity {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.link-hover-opacity:hover {
  opacity: 0.7;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  height: 70px;
  background: #ffffff;
}
@media screen and (max-width: 767px) {
  .header {
    height: 60px;
  }
}
.header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 27px;
  padding-bottom: 27px;
}
.header .header__logo {
  margin: 0;
  line-height: 1;
}
.header .header__logo img {
  width: 120px;
  vertical-align: top;
}
.header .header__logo a {
  text-decoration: none;
}
.header .header__nav {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .header .header__nav {
    display: none;
  }
}
.header .header__nav .header__nav-list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__nav .header__nav-item {
  margin-right: 48px;
  height: 70px;
  text-align: center;
}
.header .header__nav .header__nav-item:last-child {
  margin-right: 0;
}
.header .header__nav .header__nav-item a {
  text-decoration: none;
  color: #333333;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: block;
  transition: all 0.3s ease 0s;
  position: relative;
  height: inherit;
  padding-top: 27px;
}
.header .header__nav .header__nav-item a:hover {
  color: #3ea1d1;
}
.header .drawer-hamburger {
  width: 30px;
  padding-top: 22px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .header .drawer-hamburger {
    display: none;
  }
}
.header .drawer-hamburger-icon,
.header .drawer-hamburger-icon::before,
.header .drawer-hamburger-icon::after {
  background-color: #3ea1d1;
}
@media screen and (max-width: 767px) {
  .header .drawer-hamburger-icon,
  .header .drawer-hamburger-icon::before,
  .header .drawer-hamburger-icon::after {
    background-color: #3ea1d1;
  }
}
.header .drawer-hamburger-icon::before {
  top: -8px;
}
.header .drawer-hamburger-icon::after {
  top: 8px;
}
.header .drawer-nav {
  width: 0.72;
  background: #3ea1d1;
  margin-top: 60px;
}
.header .drawer-menu li {
  text-align: right;
}
.header .drawer-menu li:first-child {
  padding-top: 26px;
}
.header .drawer-menu a {
  color: #fff;
  padding: 20px 15px;
}

.drawer--right.drawer-open .drawer-hamburger {
  right: 0px;
}

.drawer--right.drawer-open .drawer-hamburger-icon {
  height: 0;
}
.drawer--right.drawer-open .drawer-hamburger-icon::before,
.drawer--right.drawer-open .drawer-hamburger-icon::after {
  top: 0px;
  height: 2px;
}

.footer {
  padding: 48px 0 17px;
  background-color: #f7f7f7;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 40px 0 17px;
  }
}
.footer .footer__logo {
  text-align: center;
}
.footer .footer__logo a {
  display: inline-block;
  width: 120px;
  height: auto;
}
.footer .footer__logo a img {
  width: 100%;
}
.footer .footer__links {
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .footer .footer__links {
    display: block;
  }
}
.footer .footer__link {
  margin-right: 32px;
}
.footer .footer__link:last-child {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .footer .footer__link {
    text-align: center;
    margin-right: 0;
  }
  .footer .footer__link:last-child {
    margin-top: 8px;
  }
}
.footer .footer__link a {
  font-size: 12px;
  font-weight: 300;
}
.footer .footer__sns {
  padding-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .footer .footer__sns {
    padding-top: 32px;
  }
}
.footer li {
  margin-right: 40px;
  width: 22px;
  height: 22px;
  text-align: center;
}
.footer li:last-child {
  margin-right: 0;
}
.footer li a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: inline-block;
  width: 100%;
  height: inherit;
}
.footer li a:hover {
  opacity: 0.7;
}
.footer li i::before {
  color: #3ea1d1;
  font-size: 22px;
}
.footer .footer__copy {
  margin-top: 24px;
  font-size: 12px;
  text-align: center;
  color: #888888;
}
@media screen and (max-width: 767px) {
  .footer .footer__copy {
    margin-top: 22px;
  }
}

.swiper-button-next {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  right: calc(50% - 1280px / 2);
  background: transparent url(../img/arrow-next.png) no-repeat center center/contain;
}
@media screen and (max-width: 767px) {
  .swiper-button-next {
    right: 10px;
  }
}
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  left: calc(50% - 1280px / 2);
  background: transparent url(../img/arrow-prev.png) no-repeat center center/contain;
}
@media screen and (max-width: 767px) {
  .swiper-button-prev {
    left: 10px;
  }
}
.swiper-button-prev::after {
  display: none;
}
.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: rgba(255, 255, 255, 0.6196078431);
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #2f7dc8;
}
.swiper .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin-left: 8px;
  margin-right: 8px;
}

.drawer-icon {
  display: none;
  position: fixed;
  top: 20px;
  right: 16px;
  z-index: 300;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  background: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}
.drawer-icon.is-active {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}
.drawer-icon.is-active .drawer-icon__bar1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}
.drawer-icon.is-active .drawer-icon__bar3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}
.drawer-icon__bars {
  width: 22px;
  height: 20px;
  position: relative;
}
.drawer-icon__bar1, .drawer-icon__bar2, .drawer-icon__bar3 {
  width: 22px;
  height: 4px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.drawer-icon__bar1 {
  top: 0;
}
.drawer-icon__bar2 {
  top: 8px;
}
.drawer-icon__bar3 {
  top: 16px;
}
.drawer-content {
  position: fixed;
  width: 200px;
  height: 100%;
  top: 0;
  right: 0;
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.1607843137);
  z-index: 299;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}
.drawer-content.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.drawer-content__item {
  border-bottom: 1px dotted #707070;
}
.drawer-content__item a {
  text-decoration: none;
  display: block;
  position: relative;
  padding: 18px 20px;
  color: #707070;
}
.drawer-content__item a::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 7px;
  height: 11px;
  background: url(../img/arrow-b.png) no-repeat center center/contain;
}
.drawer-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 298;
  display: none;
  pointer-events: none;
  display: block;
  background-color: #3f51b5;
  opacity: 0;
}
.drawer-background.is-active {
  display: block;
  opacity: 0.8;
}

.section__title {
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 28px;
  margin: 0;
  position: relative;
  text-align: center;
  line-height: 1;
}
.section__title::after {
  content: "";
  background: #3ea1d1;
  width: 60px;
  height: 4px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (max-width: 767px) {
  .section__title::after {
    width: 48px;
  }
}
@media screen and (max-width: 767px) {
  .section__title {
    font-size: 42px;
    padding-bottom: 16px;
  }
}

.mainvisual {
  height: 600px;
  background: url(../img/mainvisual.png) no-repeat top center/cover;
  position: relative;
  overflow: hidden;
}
.mainvisual .mainvisual__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  line-height: 1.2;
}
@media screen and (max-width: 767px) {
  .mainvisual .mainvisual__content {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.mainvisual .mainvisual__title {
  font-size: 64px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .mainvisual .mainvisual__title {
    font-size: 36px;
  }
}
.mainvisual .mainvisual__lead {
  font-size: 24px;
  font-weight: 700;
  margin-top: 24px;
}
@media screen and (max-width: 767px) {
  .mainvisual .mainvisual__lead {
    font-size: 20px;
  }
}
.mainvisual .mainvisual__button {
  margin-top: 36px;
}
@media screen and (max-width: 767px) {
  .mainvisual .mainvisual__button {
    margin-top: 34px;
  }
}
.mainvisual .button-mainvisual {
  display: inline-block;
  background-color: #3ea1d1;
  color: #fff;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 22px 24px;
  border-radius: 8px;
  font-size: 24px;
  width: 384px;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .mainvisual .button-mainvisual {
    padding: 20px 36px;
    font-size: 20px;
    width: 280px;
  }
}

.card {
  background-color: #efefef;
}
.card .card__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 56px;
}
@media screen and (max-width: 767px) {
  .card .card__items {
    margin-top: 30px;
  }
}
.card .card__item {
  width: calc(33.33333333% - 16px);
  margin-right: 24px;
  margin-top: 24px;
}
.card .card__item:nth-child(3n) {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .card .card__item {
    width: 100%;
    margin-right: 0;
  }
}
.card .media {
  overflow: hidden;
  background: #fff;
  border-radius: 4px;
  padding: 16px 16px 14px;
  display: block;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.card .media .media__img {
  text-align: center;
}
.card .media .media__img img {
  vertical-align: bottom;
}
.card .media .media__body {
  margin-top: 12px;
}
.card .media .media__title {
  font-weight: 700;
  font-size: 20px;
  color: #6f7579;
}
.card .media .media__content {
  font-weight: 700;
  color: #6f7579;
  margin-top: 4px;
  line-height: 1.5;
}

.news {
  background-color: #ffffff;
}
.news .news__items {
  width: 800px;
  max-width: 100%;
}
.news .news__items {
  margin: 80px auto 0;
}
@media screen and (max-width: 767px) {
  .news .news__items {
    margin-top: 40px;
  }
}
.news .news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px 0 12px;
}
@media screen and (max-width: 767px) {
  .news .news__item {
    display: block;
  }
}
.news .news__item:not(:first-child) {
  border-top: 1px solid #707070;
}
.news .news__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 185px;
}
.news .news__data {
  padding-top: 3px;
  width: 105px;
}
.news .news__label a {
  display: inline-block;
  width: 80px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  background-color: #666;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.news .news__label a:hover {
  opacity: 0.7;
}
.news .news__label a.is-blue {
  background-color: #3ea1d1;
}
.news .news__label a.is-red {
  background-color: #ff0000;
}
.news .news__title {
  width: calc(100% - 185px);
  padding-left: 20px;
  padding-top: 3px;
}
@media screen and (max-width: 767px) {
  .news .news__title {
    width: 100%;
    padding-top: 0;
    margin-top: 6px;
  }
}
.news .news__title a {
  line-height: 1.25;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.news .news__title a:hover {
  opacity: 0.7;
}
.news .news__more {
  margin-top: 60px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .news .news__more {
    margin-top: 30px;
  }
}
.news .news__more a {
  color: #ff0000;
  font-weight: 700;
  padding-right: 14px;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.news .news__more a:hover {
  opacity: 0.7;
}
.news .news__more a::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 7px;
  height: 11px;
  background: url(../img/news-arrow.png) no-repeat center center/contain;
}

.price {
  background-color: #efefef;
}
.price .price__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .price .price__content {
    display: block;
  }
}
.price .price__content {
  margin: 80px auto 0;
}
@media screen and (max-width: 767px) {
  .price .price__content {
    margin-top: 40px;
  }
}
.price .price__image {
  width: 37.8333333333%;
}
@media screen and (max-width: 767px) {
  .price .price__image {
    width: 100%;
  }
}
.price .price__table {
  width: 59%;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .price .price__table {
    width: 100%;
    margin-top: 24px;
  }
}
.price .price__table .table {
  border: 1px solid #707070;
  font-weight: 700;
  width: 100%;
  table-layout: fixed;
}
.price .price__table .table th,
.price .price__table .table td {
  border: 1px solid #707070;
  font-weight: 700;
  padding: 0 24px;
  height: 50px;
  vertical-align: middle;
}
.price .price__table .table th {
  background-color: #999999;
  color: white;
  text-align: center;
}
.price .price__table .table th:nth-child(1) {
  width: 172px;
}
@media screen and (max-width: 767px) {
  .price .price__table .table th:nth-child(1) {
    width: 112px;
  }
}
.price .price__table .table td {
  text-align: right;
  background-color: white;
  color: #333;
}
.price .price__table .table td strong {
  color: #e81919;
  line-height: 1.2;
}
.price .price__table .table td span {
  font-weight: 700;
  display: block;
  font-size: 13px;
  margin-top: 1px;
  line-height: 1.2;
}
.price .price__table .price__attention {
  font-size: 14px;
  margin-top: 10px;
}
.price .price__table .price__attention a {
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.price .price__table .price__attention a:hover {
  opacity: 0.7;
}

.iframe-wrap {
  width: 100%;
  padding-top: 50%;
  position: relative;
}
.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access .access__map {
  width: 800px;
  max-width: 100%;
  margin: 80px auto 0;
}
@media screen and (max-width: 767px) {
  .access .access__map {
    margin-top: 40px;
  }
}
.access .access__info {
  margin: 16px auto 0;
  width: 800px;
  max-width: 100%;
}
.access .access__info .access__info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.access .access__info .access__info-row:not(:first-child) {
  margin-top: 8px;
}
.access .access__info .access__info-row dt {
  margin: 0;
  padding: 0;
  font-weight: 700;
  width: 104px;
}
.access .access__info .access__info-row dd {
  margin: 0;
  padding: 0;
  width: calc(100% - 104px);
}
.access .access__button {
  text-align: center;
  margin-top: 30px;
}
.access .access__button a {
  display: inline-block;
  width: 304px;
  color: #fff;
  font-weight: 700;
  padding: 16px 12px;
  border-radius: 8px;
  background-color: #3ea1d1;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.access .access__button a:hover {
  opacity: 0.7;
}
.access .access__button a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 17px;
  height: 16px;
  background: url(../img/button-arrow.png) no-repeat center center/contain;
}

.contact {
  background-color: #efefef;
}
.contact .contact__form {
  width: 800px;
  max-width: 100%;
}
.contact .contact__form {
  margin: 80px auto 0;
  background-color: #fff;
  padding: 60px;
}
@media screen and (max-width: 767px) {
  .contact .contact__form {
    margin-top: 40px;
    padding: 24px;
  }
}
.contact .contact-from .contact-from__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .contact .contact-from .contact-from__row {
    display: block;
  }
}
.contact .contact-from .contact-from__row:not(:first-child) {
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  .contact .contact-from .contact-from__row:not(:first-child) {
    margin-top: 30px;
  }
}
.contact .contact-from .contact-from__label {
  width: 160px;
  margin: 0;
  padding: 5px 0 0;
}
@media screen and (max-width: 767px) {
  .contact .contact-from .contact-from__label {
    width: 100%;
  }
}
.contact .contact-from .contact-from__label label {
  font-weight: 700;
}
.contact .contact-from .contact-from__label label.is-required {
  display: inline-block;
  position: relative;
}
.contact .contact-from .contact-from__label label.is-required::after {
  content: "必須";
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: #ff0000;
  text-align: center;
  border-radius: 4px;
  padding: 4px 8px;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .contact .contact-from .contact-from__label label.is-required::after {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: calc(100% + 6px);
    width: 44px;
  }
}
.contact .contact-from .contact-from__input {
  width: calc(100% - 160px);
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .contact .contact-from .contact-from__input {
    width: 100%;
    margin-top: 5px;
  }
}
.contact .contact-from .contact-from__input [type=text] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 10px 16px;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: none;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
}
.contact .contact-from .contact-from__input [type=email] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 10px 16px;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: none;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
}
.contact .contact-from .contact-from__input select {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: #fff url(../img/select-arrow.png) no-repeat right 12px center/17px 14px;
  padding: 12px 16px;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: none;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
}
.contact .contact-from .contact-from__input textarea {
  height: 240px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 10px 16px;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: none;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  resize: none;
}
.contact .contact-from .contact-from__radio {
  margin-top: 32px;
}
@media screen and (max-width: 767px) {
  .contact .contact-from .contact-from__radio {
    margin-top: 26px;
  }
}
.contact .contact-from .contact-from__radio [type=radio] {
  display: none;
}
.contact .contact-from .contact-from__radio span {
  cursor: pointer;
  display: inline-block;
  padding-left: 28px;
  position: relative;
  margin-right: 36px;
}
@media screen and (max-width: 767px) {
  .contact .contact-from .contact-from__radio span {
    margin-bottom: 8px;
    margin-right: 20px;
  }
}
.contact .contact-from .contact-from__radio span::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background-color: #fff;
  border-radius: 50%;
}
.contact .contact-from .contact-from__radio span::after {
  display: none;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5px;
  background-color: #3ea1d1;
  border-radius: 50%;
}
.contact .contact-from .contact-from__radio [type=radio]:checked + span::after {
  display: block;
}
.contact .contact-from .contact-from__check {
  margin-top: 63px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .contact .contact-from .contact-from__check {
    margin-top: 40px;
  }
}
.contact .contact-from .contact-from__check [type=checkbox] {
  display: none;
}
.contact .contact-from .contact-from__check span {
  cursor: pointer;
  display: inline-block;
  padding-left: 49px;
  position: relative;
}
.contact .contact-from .contact-from__check span::before {
  content: "";
  width: 25px;
  height: 25px;
  border: 1px solid #707070;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background-color: #fff;
}
.contact .contact-from .contact-from__check span::after {
  display: none;
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background: url(../img/checkbox.png) no-repeat center/25px 25px;
}
.contact .contact-from .contact-from__check span a {
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.contact .contact-from .contact-from__check span a:hover {
  opacity: 0.7;
}
.contact .contact-from .contact-from__check [type=checkbox]:checked + span::after {
  display: block;
}
.contact .contact-from .contact-from__button {
  margin-top: 30px;
  text-align: center;
}
.contact .contact-from .contact-from__button [type=submit] {
  cursor: pointer;
  display: inline-block;
  width: 304px;
  color: #fff;
  font-weight: 700;
  padding: 16px 12px;
  border-radius: 8px;
  background-color: #3ea1d1;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 16px;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  background: #3ea1d1 url(../img/button-arrow.png) no-repeat right 12px center/17px 16px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.contact .contact-from .contact-from__button [type=submit]:hover {
  opacity: 0.7;
}

.to-top {
  position: fixed;
  right: 24px;
  bottom: 24px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media screen and (max-width: 767px) {
  .to-top {
    right: 12px;
    bottom: 24px;
  }
}
.to-top.is-show {
  opacity: 1;
  visibility: visible;
}
.to-top a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.to-top a:hover {
  opacity: 0.7;
}
.to-top a img {
  width: 60px;
}
@media screen and (max-width: 767px) {
  .to-top a img {
    width: 40px;
  }
}

.qa .qa__items {
  width: 900px;
  max-width: 100%;
  margin: 80px auto 0;
}
.qa .qa__item:nth-child(n+2) {
  margin-top: 24px;
}
.qa .qa-box {
  border: 1px solid #3ea1d1;
}
.qa .qa-box__q {
  color: #fff;
  background: #3ea1d1;
  padding: 12px 56px;
  font-weight: 700;
  position: relative;
}
.qa .qa-box__q::before {
  content: "Q";
  position: absolute;
  top: 12px;
  left: 20px;
}
.qa .qa-box__icon {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.qa .qa-box__icon.is-open .qa-box__bar2 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.qa .qa-box__bar1 {
  width: 14px;
  height: 2px;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.qa .qa-box__bar2 {
  width: 2px;
  height: 14px;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.qa .qa-box__a {
  background: #fff;
  font-weight: 700;
  color: #3ea1d1;
  line-height: 1.5;
  padding: 16px 30px 16px 20px;
  display: none;
}
.qa .qa-box__content {
  position: relative;
  padding-left: 35px;
}
.qa .qa-box__content::before {
  content: "A";
  position: absolute;
  top: 0;
  left: 0;
}

.modal-contact {
  display: none;
  position: fixed;
  z-index: 501;
  width: 900px;
  max-width: calc(100% - 48px);
  height: 650px;
  max-height: calc(100% - 48px);
  background: #ffffff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.1607843137);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 60px;
  color: #707070;
}
@media screen and (max-width: 767px) {
  .modal-contact {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.modal-contact__head {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 24px;
  position: relative;
  text-align: center;
}
.modal-contact__head::after {
  content: "";
  width: 100px;
  height: 2px;
  background: #3ea1d1;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
}

.modal-contact__content {
  margin-top: 40px;
  height: calc(100% - 84px - 108px);
  overflow: auto;
}
.modal-contact__content > :first-child {
  margin-top: 0;
}

.modal-contact__sub-head {
  font-size: 20px;
  font-weight: 700;
  padding-left: 20px;
  position: relative;
  margin-top: 40px;
}
.modal-contact__sub-head::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4px;
  height: 20px;
  background: #3ea1d1;
}

.modal-contact__text {
  margin-top: 16px;
  line-height: 1.5;
  padding-left: 20px;
}

.modal-contact__button {
  margin-top: 60px;
  text-align: center;
}
.modal-contact__button a {
  text-decoration: none;
  display: inline-block;
  width: 176px;
  padding: 14px;
  text-align: center;
  color: #fff;
  background: #3ea1d1;
  font-weight: 700;
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.modal-contact__icon {
  position: absolute;
  width: 40px;
  height: 40px;
  right: -20px;
  top: -20px;
}
.modal-contact__icon img {
  width: 40px;
}

.modal-contact-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 500;
}