@use "../global" as *;

.p-about-section {
  // width: calc(1200 / 1600 * 100vw);
  // margin-inline: auto;
}
.p-about__container {
  display: flex;
  gap: 5vw;
  justify-content: center;
  align-items: center;
  @include mq(sp) {
    flex-direction: column-reverse;
  }
}
.p-about__img {
  box-shadow: 0 4px 15px 0 rgba(black, 0.15);
  aspect-ratio: 1;
  height: auto;
  width: 30vw;
  @include mq(sp) {
    width: 70vw;
  }
}
.p-about__text--contents {
  @include mq(sp) {
    width: revert;
    padding: 2rem;
  }
}
.p-about__text--item {
  margin-top: 1rem;
}
.p-about__text--title-main {
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  // }

  // .p-about__text--wrapper {
  //   margin-top: 0.5rem;
  // padding-left: 1rem;
  li {
    margin-top: 0.5rem;
  }
}
.p-about__text--title-sub {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  padding-left: 1.5rem;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0.6rem;
    // 50%;
    left: 0.6rem;
    transform: translateY(-50%);

    width: 0.6rem;
    height: 0.6rem;
    background: var(--main);
    clip-path: var(--clip-triangle-right);
  }
}
