@use "../global" as *;

.p-first-view {
  background: #eee;
}
.p-first-view__container {
  display: flex;
  @include mq(sp) {
    display: revert;
    padding-inline: 2rem;
  }
  section {
    width: 50%;
    @include mq(sp) {
      width: 100%;
    }
    margin-top: 0;
    background: white;
    &:nth-of-type(2n) {
      background: #cff;
    }
  }
}

.p-first-view__inner {
  padding-inline: 2rem;
}
