@use "../global" as *;

.p-header {
  width: 100%;
  background: transparent;
  transition: 0.5s;
  color: white;
  // .is-scroll & {
  //   background: var(--header-bg-sp);
  // }

  background: var(--header-bg-pc);
  @include mq(sp) {
    background: blue;
  }
}

.p-header__container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-header__nav {
  @include mq(sp) {
    display: none;
  }
}

.p-header__nav--list {
  display: flex;
  justify-content: center;
  align-items: center;
  li {
    color: white;
    font-family: "Noto Sans JP";
    font-size: 1.5em;
  }
  a {
    padding: 0.2em 1em;
    @media (hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }
    // .hover__underline--from-left {
    // アンダーラインだけど、改行しても下線を表示させるためにbackground-imageで実装
    background-image: linear-gradient(90deg, white, white);
    background-repeat: no-repeat;
    background-position: left bottom; /* X軸の起点 Y軸の起点 */
    background-size: 0 2px; /* 線の横幅を0、縦幅を1pxに */
    transition: background-size 0.3s; /* 線を伸ばすアニメーション実行時間を指定 */

    &:hover {
      background-size: 100% 2px; /* 線の横幅を100%にする */
    }
    // }
  }
}
