@use "../global" as *;

.p-works__contents {
  background: #cff;
  box-shadow: 0 4px 15px 0 rgba(black, 0.15);
  margin-top: 2rem;
  // bulletの配置分多めにpaddingとる
  padding: 5% 5% 8%;
  position: relative;
}
