<!-- prettier-ignore -->
<%_
_%>

<section id="promise" class="l-section p-section p-about-section wow fadeInUp">
  <div class="l-inner">
    <hgroup class="p-section__title">
      <h2 class="p-section__title--main">About</h2>
      <p class="p-section__title--sub">私について</p>
    </hgroup>

    <div class="p-section__contents">
      <div class="p-about__container">
        <ul class="p-about__text--contents">
          <li class="p-about__text--item">
            <div class="p-about__text--title-main">稼働時間</div>
            <div class="p-about__text--wrapper">
              <ul>
                <li>
                  <div class="p-about__text--title-sub">
                    平日：
                    <strong class="color-accent"> 4時間 </strong>
                    対応可能です（5:00〜7:00、19:00〜21:00）
                  </div>
                </li>

                <li>
                  <div class="p-about__text--title-sub">
                    土日祝日：
                    <strong class="color-accent"> 16時間 </strong>
                    対応可能です（5:00〜21:00）
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="p-about__text--item">
            <div class="p-about__text--title-main">コーディング</div>
            <div class="p-about__text--wrapper">
              <ul>
                <li>
                  <div class="p-about__text--title-sub">
                    レスポンシブデザイン：
                    <strong class="color-accent"> スマートフォンやタブレット </strong>
                    など、様々なデバイスでの閲覧に対応します。
                  </div>
                </li>
                <li>
                  <div class="p-about__text--title-sub">
                    クロスブラウザ：Chrome、Firefox、Safari、Edgeで
                    <strong class="color-accent"> 表示崩れしない </strong>
                    よう意識したコーディングを行います。
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="p-about__text--item">
            <div class="p-about__text--title-main">報告・連絡・相談</div>
            <div class="p-about__text--wrapper">
              <ul>
                <li>
                  <div class="p-about__text--title-sub">
                    進捗報告：
                    <strong class="color-accent"> 適切な頻度 </strong>
                    で進捗報告をいたします。
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <div class="p-about__img">
          <img src="./assets/img/pumi.png" alt="プミ画像" />
        </div>
      </div>
    </div>
  </div>
</section>
