<!-- prettier-ignore -->
<%_
_%>

<section id="about" class="l-section p-section p-about-section wow fadeInUp">
  <div class="l-inner">
    <hgroup class="p-section__title">
      <h2 class="p-section__title--main">About</h2>
      <p class="p-section__title--sub">私について</p>
    </hgroup>

    <div class="p-section__contents">

      <div class="p-about__container">

        <div class="p-about__text-contents">
          <p class="p-about__text"><strong class="hover__underline--from-left">適切な進捗報告や期限の遵守</strong>はもちろんのこと、相談しやすい親身なコミュニケーションを心がけています。</p>
          <p class="p-about__text">ご満足いただけるサイトを提供できるよう<strong class="hover__underline--from-left">修正についても柔軟に対応</strong> させていただきます。</p>
          <p class="p-about__text">理想のホームページを<strong class="hover__underline--from-left">一緒に作っていきましょう！</strong></p>
        </div>
        <div class="p-about__img">
          <img src="./assets/img/pumi.png" alt="プミ画像" />                                                                                                                                
        </div>
      </div>
    </div>
  </section>