<!-- prettier-ignore -->
<%_
_%>

<!-- wordPress化する時 -->
<!-- formタグをdivタグに置換え -->
<!-- inputタグもCONTACT7用に置換え -->
<section id="contact" class="l-section p-contact wow fadeInUp">
  <div class="l-inner">
    <hgroup class="p-section__title">
      <h2 class="p-section__title--main">Contact</h2>
      <p class="p-section__title--sub">お問い合わせ</p>
    </hgroup>

    <div class="reserve__form">
      <!-- テキスト（名前） -->
      <div class="reserve__form--item">
        <div class="reserve__form--title">
          <label for="your-name" class="reserve__form--title-text">お名前</label>
          <span class="reserve__form--require">必須</span>
        </div>
        <div class="reserve__form--input">
          <input type="text" id="your-name" placeholder="山田太郎" name="entry.530212225" required />
          <!-- <span class="wpcf7-form-control-wrap" data-name="your-name"
        ><input
          size="40"
          class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required reserve__form--input js-text"
          id="your-name"
          aria-required="true"
          aria-invalid="false"
          placeholder="山田　太郎"
          value=""
          type="text"
          name="your-name"
          required="required"
      /></span> -->
          <div class="error-message"></div>
        </div>
      </div>
      <!-- テキスト（カナ名前） -->
      <!-- <div class="reserve__form--item">
    <div class="reserve__form--title">
      <label for="name-kana" class="reserve__form--title-text">フリガナ</label> <span class="reserve__form--require">必須</span></div>
    <div class="reserve__form--input">
      <span class="wpcf7-form-control-wrap" data-name="name-kana"
        ><input
          size="40"
          class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required reserve__form--input js-kana"
          id="name-kana"
          aria-required="true"
          aria-invalid="false"
          placeholder="ヤマダ　タロウ"
          value=""
          type="text"
          name="name-kana"
          required="required"
      /></span>
      <div class="error-message"></div>
    </div>
  </div> -->
      <!-- 電話番号 -->
      <!-- <div class="reserve__form--item">
    <div class="reserve__form--title"><label for="tel" class="reserve__form--title-text">電話番号</label> <span class="reserve__form--require">必須</span></div>
    <div class="reserve__form--input">
      <span class="wpcf7-form-control-wrap" data-name="tel"
        ><input
          size="40"
          class="wpcf7-form-control wpcf7-tel wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-tel reserve__form--input js-tel-number"
          id="tel"
          aria-required="true"
          aria-invalid="false"
          placeholder="000-0000-0000"
          value=""
          type="tel"
          name="tel"
          required="required"
      /></span>
      <div class="error-message"></div>
    </div>
  </div> -->
      <!-- メールアドレス -->
      <div class="reserve__form--item">
        <div class="reserve__form--title">
          <label for="email" class="reserve__form--title-text">メールアドレス</label>
          <span class="reserve__form--require">必須</span>
        </div>
        <div class="reserve__form--input">
          <!-- <span class="wpcf7-form-control-wrap" data-name="emailAddress"
        ><input
          size="40"
          class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email reserve__form--input js-mail"
          id="email"
          aria-required="true"
          aria-invalid="false"
          placeholder="xxx@example.com"
          value=""
          type="email"
          name="emailAddress"
          required="required"
      />
    </span> -->
          <input type="email" id="your-email" placeholder="info@example.com" name="emailAddress" required />
          <div class="error-message"></div>
        </div>
      </div>
      <!-- ラジオボタン -->
      <div class="reserve__form--item reserve__form--item-radio">
        <div class="reserve__form--title">
          <!-- <div class="reserve__form--title-text">初診/再診</div> -->
          <div class="reserve__form--title-text">お問い合わせ種類</div>
          <!-- <label for="radio-button" class="reserve__form--title-text">初診/再診</label> -->
          <span class="reserve__form--require">必須</span>
        </div>
        <div class="reserve__form--input">
          <!-- wrapperの構成が違ってたので、HTML用にクラスをコピーしてDIVタグ作成した -->
          <!-- <span class="wpcf7-form-control-wrap" data-name="radio-button">
        <span class="wpcf7-form-control wpcf7-radio reserve__form--radio-wrapper js-radio" id="radio-button">
          <span class="wpcf7-list-item first">
            <label>
              <input type="radio" name="radio-button" value="初診" checked="checked" />
              <span class="wpcf7-list-item-label">初診</span>
            </label>
          </span>
          <span class="wpcf7-list-item last">
            <label>
              <input type="radio" name="radio-button" value="再診" />
              <span class="wpcf7-list-item-label">再診</span>
            </label>
          </span>
        </span>
      </span> -->
          <div class="reserve__form--radio-wrapper">
            <label class="contact__field--radio">
              <input type="radio" name="entry.716562788" value="ホームページ制作" required />
              <span class="contact-radio-label">ホームページ制作</span>
            </label>
            <label class="contact__field--radio">
              <input type="radio" name="entry.716562788" value="ホームページ修正" />
              <span class="contact-radio-label">ホームページ修正</span>
            </label>
            <label class="contact__field--radio">
              <input type="radio" name="entry.716562788" value="ホームページ相談" />
              <span class="contact-radio-label">ホームページ相談</span>
            </label>
          </div>
          <div class="error-message"></div>
        </div>
      </div>
      <!-- チェックボックス -->
      <!-- <div class="reserve__form--item reserve__form--item-checkbox">
        <div class="reserve__form--title">
          <div class="reserve__form--title-text reserve__form--title-text-checkbox">
            <div class="reserve__form--title-text-top">診療内容</div>
            <div class="reserve__form--title-text-bottom">※(複数選択可)</div>
          </div>
          <span class="reserve__form--require">必須</span>
        </div>
        <div class="reserve__form--input">
          <span class="wpcf7-form-control-wrap" data-name="checkbox-button"
        ><span class="wpcf7-form-control wpcf7-checkbox wpcf7-validates-as-required reserve__form--checkbox-wrapper js-checkbox" id="checkbox-button" required="required"
          ><span class="wpcf7-list-item first"
            ><label><input type="checkbox" name="checkbox-button[]" value="虫歯" /><span class="wpcf7-list-item-label">虫歯</span></label></span
          ><span class="wpcf7-list-item"
            ><label><input type="checkbox" name="checkbox-button[]" value="被せ物がとれた" /><span class="wpcf7-list-item-label">被せ物がとれた</span></label></span
          ><span class="wpcf7-list-item"
            ><label><input type="checkbox" name="checkbox-button[]" value="矯正歯科" /><span class="wpcf7-list-item-label">矯正歯科</span></label></span
          ><span class="wpcf7-list-item"
            ><label><input type="checkbox" name="checkbox-button[]" value="咬み合わせ" /><span class="wpcf7-list-item-label">咬み合わせ</span></label></span
          ><span class="wpcf7-list-item"
            ><label><input type="checkbox" name="checkbox-button[]" value="歯周病" /><span class="wpcf7-list-item-label">歯周病</span></label></span
          ><span class="wpcf7-list-item"
            ><label><input type="checkbox" name="checkbox-button[]" value="小児歯科" /><span class="wpcf7-list-item-label">小児歯科</span></label></span
          ><span class="wpcf7-list-item"
            ><label><input type="checkbox" name="checkbox-button[]" value="入れ歯" /><span class="wpcf7-list-item-label">入れ歯</span></label></span
          ><span class="wpcf7-list-item"
            ><label><input type="checkbox" name="checkbox-button[]" value="インプラント" /><span class="wpcf7-list-item-label">インプラント</span></label></span
          ><span class="wpcf7-list-item last"
            ><label><input type="checkbox" name="checkbox-button[]" value="その他" /><span class="wpcf7-list-item-label">その他</span></label></span
          ></span
        ></span
      >
          <div class="error-message"></div>
        </div>
      </div> -->
      <!-- セレクトボックス -->
      <!-- <div class="reserve__form--item reserve__form--item-selectbox">
    <div class="reserve__form--title"><label for="selectbox" class="reserve__form--title-text">ご連絡方法</label> <span class="reserve__form--require">必須</span></div>
    <div class="reserve__form--input">
      <span class="wpcf7-form-control-wrap" data-name="select-menu"
        ><select
          class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required reserve__form--selectbox-wrapper js-select"
          id="selectbox"
          aria-required="true"
          aria-invalid="false"
          name="select-menu"
          required="required"
        >
          <option value="ご連絡方法を選択ください。">ご連絡方法を選択ください。</option>
          <option value="メール">メール</option>
          <option value="電話">電話</option>
          <option value="FAX">FAX</option>
        </select></span
      >
      <div class="error-message"></div>
    </div>
  </div> -->
      <!-- 日付 -->
      <!-- <div class="reserve__form--item reserve__form--item-date">
    <div class="reserve__form--title"><label for="date1" class="reserve__form--title-text">希望日</label></div>
    <div class="reserve__form--date-wrapper">
      <span class="wpcf7-form-control-wrap" data-name="Preferred-date1"
        ><input
          class="wpcf7-form-control wpcf7-date wpcf7-validates-as-date reserve__form--input reserve__form--input-date"
          id="Preferred-date1"
          aria-invalid="false"
          placeholder="年 / 月 / 日"
          value=""
          type="date"
          name="Preferred-date1"
      /></span>
      <span class="wpcf7-form-control-wrap" data-name="Preferred-date2"
        ><input
          class="wpcf7-form-control wpcf7-date wpcf7-validates-as-date reserve__form--input reserve__form--input-date"
          id="Preferred-date2"
          aria-invalid="false"
          placeholder="年 / 月 / 日"
          value=""
          type="date"
          name="Preferred-date2"
      /></span>
      <span class="wpcf7-form-control-wrap" data-name="Preferred-date3"
        ><input
          class="wpcf7-form-control wpcf7-date wpcf7-validates-as-date reserve__form--input reserve__form--input-date"
          id="Preferred-date3"
          aria-invalid="false"
          placeholder="年 / 月 / 日"
          value=""
          type="date"
          name="Preferred-date3"
      /></span>
    </div>
  </div> -->
      <!-- テキストアリア -->
      <div class="reserve__form--item reserve__form--item-textarea">
        <div class="reserve__form--title">
          <label for="message" class="reserve__form--title-text"> お問い合わせ内容 </label>
          <span class="reserve__form--require">必須</span>
        </div>
        <div class="reserve__form--input">
          <!-- <span class="wpcf7-form-control-wrap" data-name="message">
      <textarea
        cols="40"
        rows="5"
        class="wpcf7-form-control wpcf7-textarea reserve__form--input reserve__form--textarea"
        id="message"
        aria-invalid="false"
        placeholder="ご自由にご記入ください。"
        name="message"
        required="required"
      ></textarea>
    </span> -->
          <textarea
            id="your-message"
            placeholder="お問い合わせ内容をご入力ください。
            3営業日以内にご返信いたします。"
            name="entry.1269014493"
            required
          ></textarea>
        </div>
      </div>

      <!-- チェックボックス -->
      <div class="reserve__form--item reserve__form--item-checkbox">
        <div class="reserve__form--title contact__privacy">
          <!-- 複数チェックボックス -->
          <!-- <div class="reserve__form--title-text reserve__form--title-text-checkbox">
          <div class="reserve__form--title-text-top">診療内容</div>
          <div class="reserve__form--title-text-bottom">※(複数選択可)</div>
        </div>
        <span class="reserve__form--require">必須</span> -->
          <!-- 複数チェックボックス -->

          <!-- 単体チェックボックス -->
          <input type="checkbox" name="entry.2114229630" value="プライバシーポリシーに合意する" required aria-label="プライバシーポリシーに合意する" />
          <span>
            <a href="./policy.html" target="_blank" class="colorchange"> プライバシーポリシー </a>
            に合意する
          </span>
          <span class="contact__field--tag">必須</span>
          <!-- 単体チェックボックス -->
        </div>
        <!-- 複数チェックボックス -->
        <!-- <div class="reserve__form--input">
        <span class="wpcf7-form-control-wrap" data-name="checkbox-button"
          ><span class="wpcf7-form-control wpcf7-checkbox wpcf7-validates-as-required reserve__form--checkbox-wrapper js-checkbox" id="checkbox-button" required="required"
            ><span class="wpcf7-list-item first"
              ><label><input type="checkbox" name="checkbox-button[]" value="虫歯" /><span class="wpcf7-list-item-label">虫歯</span></label></span
            ><span class="wpcf7-list-item"
              ><label><input type="checkbox" name="checkbox-button[]" value="被せ物がとれた" /><span class="wpcf7-list-item-label">被せ物がとれた</span></label></span
            ><span class="wpcf7-list-item"
              ><label><input type="checkbox" name="checkbox-button[]" value="矯正歯科" /><span class="wpcf7-list-item-label">矯正歯科</span></label></span
            ><span class="wpcf7-list-item"
              ><label><input type="checkbox" name="checkbox-button[]" value="咬み合わせ" /><span class="wpcf7-list-item-label">咬み合わせ</span></label></span
            ><span class="wpcf7-list-item"
              ><label><input type="checkbox" name="checkbox-button[]" value="歯周病" /><span class="wpcf7-list-item-label">歯周病</span></label></span
            ><span class="wpcf7-list-item"
              ><label><input type="checkbox" name="checkbox-button[]" value="小児歯科" /><span class="wpcf7-list-item-label">小児歯科</span></label></span
            ><span class="wpcf7-list-item"
              ><label><input type="checkbox" name="checkbox-button[]" value="入れ歯" /><span class="wpcf7-list-item-label">入れ歯</span></label></span
            ><span class="wpcf7-list-item"
              ><label><input type="checkbox" name="checkbox-button[]" value="インプラント" /><span class="wpcf7-list-item-label">インプラント</span></label></span
            ><span class="wpcf7-list-item last"
              ><label><input type="checkbox" name="checkbox-button[]" value="その他" /><span class="wpcf7-list-item-label">その他</span></label></span
            ></span
          ></span
        >
        <div class="error-message"></div>
      </div> -->
        <!-- 複数チェックボックス -->
      </div>
      <!-- <input class="wpcf7-form-control wpcf7-submit has-spinner js-submit button contact__button" id="js-submit" type="submit" value="送信" disabled="" /><span class="wpcf7-spinner"></span> -->
    </div>
    <div id="js-success" class="contact__message--success">
      <p>
        送信完了しました。
        <br />ありがとうございました。 <br />3営業日以内にご返信いたします。
      </p>
    </div>
    <div id="js-error" class="contact__message--error">
      <p>
        送信に失敗しました。
        <br />ページを更新して再度送信してください。
      </p>
    </div>
  </div>
</section>
