<!-- prettier-ignore -->
<%_
const menus = [ 
  { 
    name : "works" ,
    link : "#works", 
  },
  { 
    name : "skills" ,
    link : "#skills" 
  },
  { 
    name : "contact" ,
    link : "#contact" 
  },
  { 
    name : "Twitter(X)" ,
    link : "https://twitter.com/pumi_webcoder"
  }
]; _%>
<header class="l-header p-header">
  <div class="l-inner">
    <!-- ロゴ、グローバルナビ、ハンバーガーメニュー -->
    <div class="p-header__container">
      <!-- ロゴ -->
      <h1 class="c-logo">
        <a href="#">Pumi's<br />Portfolio</a>
      </h1>
      <!-- グローバルナビ -->
      <nav class="p-header__nav">
        <%_ menus.forEach(menu => { _%>
        <div class="p-header__nav--item">
          <a class="p-header__link" href="<%= menu.link %>"><%= menu.name %></a>
        </div>
        <%_ }); _%>
      </nav>
      <!-- ハンバーガーメニュー -->
      <div class="p-header__hamburger--button">
        <button id="js-drawer__btn" class="c-hamburger-btn" aria-label="ハンバーガーメニュー">
          <% for (let i = 0; i < 3; i++) { %>
          <span class="c-hamburger-bar"></span>
          <% } %>
        </button>
      </div>
    </div>
    <!-- ドロワーメニュー（ヘッダーコンテナの外） -->
    <nav class="p-drawer__nav">
      <%_ menus.forEach(menu => { _%>
      <div class="p-drawer__nav--item">
        <a class="p-drawer__link" href="<%= menu.link %>"><%= menu.name %></a>
      </div>
      <%_ }); _%>
    </nav>
  </div>
</header>
