<!-- prettier-ignore -->
<%_
_%>

<section id="promise" class="l-section p-section p-promise-section wow fadeInUp">
  <div class="l-inner">
    <hgroup class="p-section__title">
      <h2 class="p-section__title--main">Promise</h2>
      <p class="p-section__title--sub">お約束</p>
    </hgroup>

    <div class="p-section__contents">
      <div class="p-promise__container">
        <div class="p-promise__text-contents">
          <ul>
            <li>
              <div class="p-promise__text--title-main">コーディング</div>
              <div class="p-promise__text--wrapper">
                <ul>
                  <li>
                    <div class="p-promise__text--title-sub">レスポンシブデザイン</div>
                    <p class="p-promise__text--message">スマートフォンやタブレットなど、様々なデバイスでの閲覧にも対応します。</p>
                  </li>
                  <li>
                    <div class="p-promise__text--title-sub">クロスブラウザ</div>
                    <p class="p-promise__text--message">Chrome、Firefox、Safari、Edgeで表示崩れしないよう意識したコーディングを行います。</p>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div class="p-promise__text--title-main">稼働時間</div>
              <div class="p-promise__text--wrapper">
                <ul>
                  <li>
                    <div class="p-promise__text--title-sub">平日</div>
                    <p class="p-promise__text--message"><strong>4時間</strong>を確保できます（5:00〜7:00、19:00〜21:00）</p>
                  </li>
                  <li>
                    <div class="p-promise__text--title-sub">土日祝日</div>
                    <p class="p-promise__text--message"><strong>12時間</strong>を確保できます（平日に加えて、8:00〜12:00、13:00〜17:00も）</p>
                  </li>
                </ul>
              </div>
            </li>

            <li>
              <div class="p-promise__text--title-main">報告・連絡・相談</div>
              <div class="p-promise__text--wrapper">
                <ul>
                  <li>
                    <div class="p-promise__text--title-sub">報告</div>
                    <p class="p-promise__text--message"><strong>適切な頻度</strong>で進捗報告をいたします。</p>
                    <p class="p-promise__text--message">最低でも週に１回報告することとし、頻度についてはご相談させていただきます。</p>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div class="p-promise__img">
          <img src="./assets/img/pumi.png" alt="プミ画像" />
        </div>
      </div>
    </div>
  </div>
</section>
