<!-- prettier-ignore -->
<%_
const skills = [ 
  { 
    name : "HTML" ,
    img : "html5.svg",
    alt : "html5",
  },
  { 
    name : "CSS" ,
    img : "css3.svg",
    alt : "css3",
  },
  { 
    name : "Sass" ,
    img : "sass.svg",
    alt : "sass",
  },
  { 
    name : "JavaScript" ,
    img : "javascript.svg",
    alt : "JavaScript",
  },
  { 
    name : "jQuery" ,
    img : "jquery.svg",
    alt : "jQuery",
  },
  { 
    name : "WordPress" ,
    img : "wordpress.svg",
    alt : "WordPress",
  }

]; _%>

<section id="skills" class="l-section wow fadeInUp">
  <div class="l-inner p-first-view__inner">
    <hgroup class="p-section__title">
      <h2 class="p-section__title--main">Skills</h2>
      <p class="p-section__title--sub">スキル</p>
    </hgroup>

    <div class="p-section__contents">
      <div class="p-skills__contents">
        <ul class="p-skills__list">
          <%_ skills.forEach(skill => { _%>
          <li class="p-skills__item wow fadeInUp">
            <div class="p-skills__item--img">
              <img src="./assets/img/skills/<%= skill.img %>" alt="<%= skill.alt %>" />
            </div>
            <h3 class="p-skills__item-name"><%= skill.name %></h3>
          </li>
          <%_ }); _%>
        </ul>
        <div class="p-skills__messages">
          <ul>
            <li><strong class="hover__underline--from-left">W3C標準に準拠</strong>したコーディングを行います。</li>
            <li>適切なタグを使用する等、<strong class="hover__underline--from-left">SEOを意識</strong>し適切なページ構成します。</li>
            <li>スマホ・タブレット・パソコンに合わせた<strong class="hover__underline--from-left">レスポンシブ</strong>な画面レイアウトを実装可能です。</li>
            <li>CSS・javaScript・jQueryを使用した<strong class="hover__underline--from-left">アニメーション</strong>も実装可能です。</li>
            <li>HTMLサイト、WordPressサイト<strong class="hover__underline--from-left">どちらでも実装可能です。</strong></li>
          </ul>
        </div>
      </div>
      <div class="p-section__explanation">
        <p>具体的なスキルについては、お気軽にご相談ください。</p>
      </div>
    </div>
  </div>
</section>
