:root {
  --White: #fff;
  --gray: #333333;
  --font: #333333;
  --lightgray: #6c6e6f;
  --Blue: #f4fbfd;
  --accent: #ff8b71;
  --accent-Blue: #82bfed;
  --accent-green: #c6ecec;
  --gradation: linear-gradient(177deg, #50bfcb -29.45%, rgba(80, 191, 203, 0.42) 127.88%);
  --main: #77f;
  --font: #333;
  --accent: #f00;
  --hov-btn: rgba(255, 240, 228, 1);
  --header-bg-pc: linear-gradient(to bottom, #00f, #80f, #000);
  --header-bg-sp: blue;
  --drawer-bg-sp: linear-gradient(to bottom, #00f, #80f, #000);
  --section-sub: rgb(255, 240, 228);
  --bg-dark: #4a4a4a;
  --clip-triangle-bottom: polygon(0 0, 100% 0, 50% 100%);
  --layer-hamburger: 150;
  --layer-drawer: 40;
  --layer-totop: 100;
  --layer-aside: 30;
  --layer-header: 20;
  --layer-footer: 50;
  --layer-default: 1;
  --layer-background: -1;
  --width-pc-comp: 1440;
  --width-tab-comp: 768;
  --width-sp-comp: 390;
  --height-pc-header: 104px;
  --height-sp-header: 80px;
  --padding-pc-comp: 130;
  --padding-tab-comp: 60;
  --padding-sp-comp: 16;
} /*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
*,
::after,
::before {
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
  min-width: 0;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
}
main {
  display: block;
}
address,
blockquote,
dl,
figure,
form,
iframe,
p,
pre,
table {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
dt {
  font-weight: 700;
}
dd {
  margin-left: 0;
}
hr {
  border-top-width: 1px;
  box-sizing: content-box;
  clear: both;
  color: inherit;
  height: 0;
  margin: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: inherit;
}
address {
  font-style: inherit;
}
a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}
abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: inherit;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
embed,
iframe,
img,
object,
svg {
  vertical-align: bottom;
}
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: 0 0;
  border-radius: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: inherit;
  vertical-align: middle;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  cursor: pointer;
}
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled,
button:disabled {
  cursor: default;
}
:-moz-focusring {
  outline: auto;
}
select:disabled {
  opacity: inherit;
}
option {
  padding: 0;
}
fieldset {
  margin: 0;
  min-width: 0;
  padding: 0;
}
legend {
  padding: 0;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
[type="number"] {
  -moz-appearance: textfield;
}
label[for] {
  cursor: pointer;
}
details {
  display: block;
}
summary {
  display: list-item;
}
[contenteditable]:focus {
  outline: auto;
}
table {
  border-collapse: collapse;
  border-color: inherit;
}
caption {
  text-align: left;
}
td,
th {
  padding: 0;
  vertical-align: top;
}
th {
  font-weight: 700;
  text-align: left;
}
body {
  color: var(--font);
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-family: Oswald, "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  font-weight: 700;
  line-height: 1;
}
img {
  height: auto;
  max-width: 100%;
}
a {
  color: inherit;
  display: inline-block;
  height: 100%;
  width: 100%;
}
.mask {
  background-color: gray;
  content: "";
  inset: 0;
  position: absolute;
}
.accent {
  color: var(--accent);
}
*,
::after,
::before {
  box-sizing: border-box;
}
a,
body,
button,
dd,
div,
dl,
dt,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
html,
img,
li,
ol,
p,
small,
span,
table,
td,
th,
time,
tr,
ul {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
html {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
dd,
li {
  list-style-type: none;
}
article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}
img {
  border: none;
  vertical-align: bottom;
}
a {
  cursor: pointer;
  text-decoration: none;
}
.l-header {
  height: var(--height-pc-header);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--layer-header);
}
.l-inner {
  height: inherit;
  margin-inline: auto;
  max-width: 1440px;
  padding-inline: 40px;
  width: 100%;
}
.c-hamburger-btn {
  background-color: transparent;
  border: none;
  display: block;
  height: 70px;
  padding: 0.5em;
  position: relative;
  transition: 0.5s;
  width: calc(40px + 1em);
}
.c-hamburger-btn::after {
  bottom: 0;
  color: #fff;
  content: "MENU";
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  font-weight: 500;
  left: 50%;
  line-height: 22px;
  position: absolute;
  transform: translateX(-50%);
}
.drawer-open .c-hamburger-btn::after {
  content: "CLOSE";
}
.c-hamburger-bar {
  background: #fff;
  border-radius: 1px;
  height: 2px;
  left: 50%;
  margin-inline: auto;
  position: absolute;
  transform: translateX(-50%);
  transition: 0.3s;
  width: 40px;
}
.c-hamburger-bar:nth-child(1) {
  top: calc(14px * 1);
}
.c-hamburger-bar:nth-child(2) {
  top: calc(14px * 2);
}
.c-hamburger-bar:nth-child(3) {
  top: calc(14px * 3);
}
.drawer-open .c-hamburger-bar {
  top: 28px;
  width: 48px;
}
.drawer-open .c-hamburger-bar:nth-child(1) {
  transform: translateX(-50%) rotate(calc(45deg + 90deg * 1));
}
.drawer-open .c-hamburger-bar:nth-child(2) {
  transform: translateX(-50%) rotate(calc(45deg + 90deg * 2));
}
.drawer-open .c-hamburger-bar:nth-child(3) {
  transform: translateX(-50%) rotate(calc(45deg + 90deg * 3));
}
.c-logo {
  display: grid;
  font-size: 30px;
  letter-spacing: 0.12em;
  padding: 0.5em 1em;
  place-items: center;
}
.p-header {
  background: 0 0;
  background: var(--header-bg-pc);
  color: #fff;
  transition: 0.5s;
  width: 100%;
}
.p-header__container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}
.p-header__nav {
  align-items: center;
  display: flex;
  justify-content: center;
}
.p-header__nav--item {
  border-left: 1px solid currentColor;
  color: #fff;
  font-family: "Noto Sans JP";
  font-size: 1.5em;
}
.p-header__nav--item:first-child {
  border-left: revert;
}
.p-header__link {
  padding: 0.2em 1em;
}
.p-footer {
  background: var(--White, #fff);
}
.p-footer__inner {
  margin-inline: auto;
  max-width: 1440px;
  padding-inline: 60 px;
}
.p-footer__nav {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}
.p-footer__nav--item {
  border-left: 1px solid var(--gray, #6c6e6f);
  color: var(--gray, #6c6e6f);
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.p-footer__nav--item:first-child {
  border-left: revert;
}
.p-footer__link {
  padding: 5px 16px;
}
.p-footer__logo {
  height: 141px;
  margin-inline: auto;
  width: 141px;
}
.p-footer__message {
  padding: 51px 100px 30px;
}
.p-footer__copyright {
  color: var(--gray, #6c6e6f);
  font-family: "Noto Sans JP";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
  position: relative;
  text-align: center;
}
.p-footer__copyright::before {
  background: url(../img/footer-wave.webp) no-repeat top center/cover;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.p-footer__nav-drawer {
  background: var(--White, #fff);
  bottom: 0;
  display: block;
  height: 212px;
  padding-block: 40px;
  position: fixed;
  right: -100%;
  transition: 0.5s;
  width: 100%;
  z-index: calc(var(--layer-drawer) + 1);
}
.drawer-open .p-footer__nav-drawer {
  right: 0;
}
.p-footer__nav-drawer--inner {
  padding-inline: 31px;
}
.p-footer__access--tel {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
}
.p-footer__access--tel-number {
  color: var(--gray, #333);
  font-family: "Noto Sans JP";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.p-footer__access--info {
  color: var(--gray, #333);
  font-family: "Noto Sans JP";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.p-footer__btns {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 24px;
}
.p-drawer__nav {
  background: var(--header-bg-pc);
  height: calc(100vh - var(--height-sp-header));
  padding-inline: 15px;
  position: fixed;
  right: -100%;
  top: var(--height-sp-header);
  transition: 0.5s;
  width: 100%;
  z-index: var(--layer-drawer);
}
.drawer-open .p-drawer__nav {
  right: 0;
  text-align: center;
}
.p-drawer__nav--item {
  color: #fff;
  font-family: "Noto Sans JP";
  font-size: 30px;
  font-weight: 400;
}
.p-drawer__nav--item:first-child {
  margin-top: 40px;
}
.p-drawer__link {
  padding: 1em 1em;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
}
.u-separate {
  margin-bottom: 24px;
  margin-top: 24px;
}
.fv {
  margin-top: 88px;
  padding-top: 100px;
}
.works__slide--contents {
  position: relative;
}
.works__contents {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  padding: 10px 10px 40px;
}
.works__img img {
  aspect-ratio: 3/2;
  -o-object-fit: cover;
  object-fit: cover;
  transition: 1s;
}
.works__img img:hover {
  opacity: 0.5;
  transform: scale(1.2);
}
.works__img .swiper-pagination {
  bottom: 7px;
}
.works__img .swiper-pagination-bullet {
  background: #c2c2c2;
  height: 15px;
  margin: 0 10px !important;
  opacity: 0.8;
  padding: 6px;
  width: 15px;
}
.works__img .swiper-pagination-bullet-active {
  background: --main;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
}
.swiper-button-next::after,
.swiper-button-next::before,
.swiper-button-prev::after,
.swiper-button-prev::before {
  content: "";
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.swiper-button-next::before,
.swiper-button-prev::before {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  z-index: -1;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  height: 40px;
  width: 40px;
}
.swiper-button-prev {
  left: 20px;
}
.swiper-button-prev::after {
  background: url(../img/swiper_prev.svg) center center/cover;
}
.swiper-button-next {
  right: 20px;
}
.swiper-button-next::after {
  background: url(../img/swiper_next.svg) center center/cover;
}
.skills__contents {
  background: #fff;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  padding: 20px;
}
.skills__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 15px;
  justify-content: center;
}
.skills__item {
  align-items: center;
  display: flex;
  justify-content: center;
}
.skills__item--img {
  height: 50px;
  width: 50px;
}
.skills__item--img img {
  -o-object-fit: cover;
  object-fit: cover;
}
.skills__item-name {
  margin-left: 10px;
  width: 60px;
}
.skills__messages {
  font-weight: 700;
  margin-top: 20px;
  padding: 20px 10px 20px 30px;
}
.skills__messages ul {
  list-style: circle;
}
.skills__messages li {
  margin-top: 10px;
}
.service__item {
  background: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  padding: 20px;
}
.service__item + .service__item {
  margin-top: 40px;
}
.service__item-img {
  height: 69px;
  margin-bottom: 14px;
  text-align: center;
}
.service__item-name {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}
.service__item-text {
  font-size: 14px;
  line-height: 1.6;
}
.about__img {
  max-width: 400px;
}
.about__img img {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.about__text-contents {
  font-size: 16px;
  line-height: 1.6;
  margin-top: 2em;
  max-width: 400px;
}
.about__text {
  margin-top: 10px;
}
.flow {
  background-color: #fafafa;
}
.flow__list {
  margin-top: 64px;
}
.flow__item {
  background: --section-sub;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  margin-inline: auto;
  padding: 46px 12px 24px;
  position: relative;
}
.flow__item + .flow__item {
  margin-top: 46px;
}
.flow__item-num {
  align-items: center;
  background-color: --bg-dark;
  color: #fff;
  display: flex;
  font-size: 24px;
  height: 48px;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: -24px;
  transform: translateX(-50%);
  width: 48px;
}
.flow__item--container {
  background: #fff;
  height: 100%;
  margin-inline: auto;
  padding: 10px;
}
.flow__item-img {
  height: 69px;
  margin-bottom: 24px;
  text-align: center;
}
.flow__item-name {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}
.flow__item-text {
  font-size: 14px;
  line-height: 1.6;
}
.message__img {
  margin-bottom: 32px;
  max-width: 400px;
}
.message__img img {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.message__text {
  font-size: 16px;
  line-height: 1.6;
  max-width: 400px;
}
.page-bottom {
  color: #fff;
}
.page-bottom__item {
  padding: 40px;
}
.page-bottom__item-contact {
  background-color: #6f6f6f;
}
.page-bottom__item-twitter {
  background-color: --bg-dark;
}
.kirin-dash {
  height: 170px;
  position: relative;
}
.kirin-dash--kirin {
  animation: kirin-dash 8s infinite linear forwards;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
}
@media (width <= 767px) {
  .l-header {
    height: var(--height-sp-header);
  }
  .l-inner {
    padding-inline: revert;
  }
  .c-logo {
    font-size: 20px;
  }
  .p-header {
    background: #00f;
  }
  .p-header__nav {
    display: none;
  }
  .p-footer__nav {
    flex-direction: column;
  }
  .p-footer__nav--item {
    border-left: revert;
  }
  .p-footer__link {
    padding-block: 12px;
  }
  .p-footer__logo {
    height: 95px;
    width: 95px;
  }
  .p-footer__copyright {
    color: var(--gray, #6c6e6f);
    font-family: "Noto Sans JP";
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .u-hidden-sp {
    display: none;
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
}
@media (1024px <= width) {
  .l-main {
    width: calc(100% - 200px);
  }
  .u-hidden-pc {
    display: none;
  }
  .fv {
    margin-top: 0;
  }
  .fv__container {
    display: flex;
    justify-content: space-between;
  }
  .skills,
  .works {
    width: 50%;
  }
  .service__list {
    display: grid;
    gap: 8%;
    grid-template-columns: repeat(3, 1fr);
  }
  .service__item + .service__item {
    margin-top: 0;
  }
  .about__container {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    justify-content: space-between;
  }
  .about__img {
    margin-top: -100px;
  }
  .about__text-contents {
    margin-top: 0;
  }
  .flow__list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
  }
  .flow__item + .flow__item {
    margin-top: 0;
  }
  .message__container {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
  }
  .message__text-contents {
    margin: 0 auto 0 0;
    min-width: 280px;
  }
  .page-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .page-bottom__item {
    padding: 54px 10px;
  }
}
@media (768px <= width) {
  .p-header__hamburger--button {
    display: none;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .skills__list {
    gap: 15px 10px;
  }
  .flow__item {
    width: 250px;
  }
}
@media screen and (max-width: 1200px) {
  .flow__list {
    gap: 40px 16px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (768px <= width <= 1023px) and (max-width: 1200px) {
  .skills__messages li {
    font-size: 12px;
  }
}
