<!-- prettier-ignore -->
<%_
_%>

<section id="about" class="l-section p-section p-about-section wow fadeInUp">
  <div class="l-inner">
    <hgroup class="p-section__title">
      <h2 class="p-section__title--main">About</h2>
      <p class="p-section__title--sub">私について</p>
    </hgroup>

    <div class="p-section__contents">
      <div class="p-about__container">
        <div class="p-about__text-contents">
          <div class="p-about__text--title">
            コーディング
          </div>
          <div class="p-about__text--message">
            <p>
              <strong class="color-accent">レスポンシブデザイン</strong>にも対応し、スマートフォンやタブレットなど、様々なデバイスでの閲覧にも対応します。
            </p>
            <p>
              Chrome、Firefox、Safari、Edgeで表示崩れしないよう<strong class="color-accent">クロスブラウザ</strong>を意識したコーディングを行います。
            </p>
            <p>
              ユーザーがストレスなく閲覧できるよう<strong class="color-accent">表示速度</strong>について十分にチェック・対応いたします。
            </p>
          </div>
          <div class="p-about__text--title">
            稼働時間
          </div>
          <div class="p-about__text--message">
            <p>
              平日は<strong class="color-accent">4時間</strong>を確保できます（5:00〜7:00、19:00〜21:00）
            </p>
            <p>
              土日祝は<strong class="color-accent">12時間</strong>を確保できます（平日に加えて、8:00〜12:00、13:00〜17:00も）
            </p>
          </div>
          <div class="p-about__text--title">
            報告・連絡・相談
          </div>
          <div class="p-about__text--message">
            <p>
              <strong class="color-accent">適切な頻度での進捗報告</strong>をいたします。
            </p>
            <p>
              また、問題発生した際の報告や、<strong class="color-accent">より良いアイデア</strong>が思い浮かんだ際の相談も必要に応じて随時速やかに行わせていただきます。
            </p>
          </div>
          

                </div>
        <div class="p-about__img">
          <img src="./assets/img/pumi.png" alt="プミ画像" />                                                                                                                                
        </div>
      </div>
    </div>
  </section>